<!--<div class="card filters">-->
<!--  <cx-product-facet-navigation></cx-product-facet-navigation>-->
<!--  <div class="card-header">-->
<!--    <strong>Filter By</strong>-->
<!--  </div>-->

<!--  <div  class="card-body">-->
<!--&lt;!&ndash;    <form>&ndash;&gt;-->
<!--      <div class="form-group">-->
<!--        <label for="from">From</label>-->
<!--        <input  type="number" id="from" class="form-control">-->
<!--      </div>-->

<!--      <div  class="form-group">-->
<!--        <label for="to">To</label>-->
<!--        <input  type="number" id="to" class="form-control">-->
<!--      </div>-->

<!--      <button class="btn btn-primary btn-block btn-sm">Filter by price</button>-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--<div class="footer__top">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="footer__left col-xs-12 col-sm-12 col-md-8">-->
<!--        <div class="row">-->
<!--          <div class="footer__nav&#45;&#45;container footer__nav&#45;&#45;logo col-xs-12 col-sm-4 col-lg-12">-->
<!--            <div class="row">-->
<!--              <div class="col-sm-12">-->
<!--                <div class="yCmsComponent yComponentWrapper banner__component">-->
<!--                  <a href="/">-->
<!--                    <img title="Medi-Market logo" alt="Medi-Market logo" src="/medias/logo-MM.svg?context=bWFzdGVyfGltYWdlc3w3OTQ5fGltYWdlL3N2Zyt4bWx8aW1hZ2VzL2hkYi9oMmUvODc5NjI4NDc0NzgwNi5zdmd8MTUwMzdlYWRlODM4NGQyNWEyYTE3NjhkZjE1MmIyMTM0NGZlMmY0ZmZlOWE0MWI3ODA0ZGNlYmM3MzMxMGU5Ng">-->

<!--                    <span style="position: absolute;left: -10000px;">-->
<!--                            Parapharmacie en ligne BE - Medi-Market</span>-->
<!--                  </a>-->

<!--                </div></div>-->
<!--              <div class="col-sm-12">-->
<!--                <div class="yCmsComponent yComponentWrapper">-->
<!--                  <div class="content"><div class="logo-slogan text-center"><span class="logo-slogan__word&#45;&#45;small logo-slogan__word&#45;&#45;color1">prix bas</span>-->
<!--                    <span class="logo-slogan__word&#45;&#45;small logo-slogan__word&#45;&#45;color2">choix</span>-->
<!--                    <span class="logo-slogan__word&#45;&#45;small logo-slogan__word&#45;&#45;color3">conseils</span></div></div></div></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="footer__nav&#45;&#45;container col-xs-10 col-sm-4">-->
<!--            <div class="footer__title">Medi-Market</div>-->
<!--            <ul class="footer__nav&#45;&#45;links">-->

<!--              <li class="yCmsComponent footer__link">-->
<!--                <div>-->
<!--                  <a href="/paiements" title="Paiements" target="_blank" rel="nofollow">-->
<!--                    Paiements</a>-->
<!--                </div>-->
<!--              </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/conditions-generales" title="CGV" target="_blank" rel="nofollow">-->
<!--                  CGV</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/suivre-un-colis" title="Suivre un colis" target="_blank" rel="nofollow">-->
<!--                  Suivre un colis</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/contact" title="Contactez-nous" target="_blank">-->
<!--                  Contactez-nous</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/retractation" title="Rétractation" target="_blank" rel="nofollow">-->
<!--                  Rétractation</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/livraisons" title="Livraisons" target="_blank">-->
<!--                  Livraisons</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/consultations" title="Consultations" target="_blank" rel="nofollow">-->
<!--                  Consultations</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/aide" title="FAQs" target="_blank">-->
<!--                  FAQs</a>-->
<!--              </div>-->
<!--            </li></ul>-->
<!--          </div>-->
<!--          <div class="footer__nav&#45;&#45;container col-xs-10 col-sm-4">-->
<!--            <div class="footer__title">Services</div>-->
<!--            <ul class="footer__nav&#45;&#45;links">-->

<!--              <li class="yCmsComponent footer__link">-->
<!--                <div>-->
<!--                  <a href="/vie-privee" title="Charte de protection de données" rel="nofollow">-->
<!--                    Charte de protection de données</a>-->
<!--                </div>-->
<!--              </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="http://blog.medi-market.be/fr/" title="Blog" target="_blank" rel="nofollow">-->
<!--                  Blog</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/azbrand" title="Marques" target="_blank" rel="nofollow">-->
<!--                  Marques</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/qui-sommes-nous" title="Présentation" target="_blank">-->
<!--                  Présentation</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/fidelite" title="Fidélité EXTRA" target="_blank" rel="nofollow">-->
<!--                  Fidélité EXTRA</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="http://medicare-market.be/fr/" title="Le groupe Medicare-Market" target="_blank" rel="nofollow">-->
<!--                  Le groupe Medicare-Market</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/mentions-legales" title="Conditions d'utilisation du site" rel="nofollow">-->
<!--                  Conditions d'utilisation du site</a>-->
<!--              </div>-->
<!--            </li><li class="yCmsComponent footer__link">-->
<!--              <div>-->
<!--                <a href="/cookies" title="Cookies" rel="nofollow">-->
<!--                  Cookies</a>-->
<!--              </div>-->
<!--            </li></ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="content">Medicare-Market Online Services SPRL, 479 Chaussée de Louvain, 1380 Lasne, Belgique – TVA : 0836 224 231 - © Medi-Market</div>-->

