
<div class="form-group">

  <ng-container *ngIf="(isLoggedIn$ | async )">
    <button class="btn btn-block btn-secondary" (click)="logout()"> Logout </button>
  </ng-container>
  <ng-container *ngIf="!(isLoggedIn$ | async )">
  <form  novalidate class="ng-pristine ng-invalid ng-touched"
    [formGroup]="loginForme"  (ngSubmit)="loginForm(loginForme.value)">
    <div>
      <label >
        <span class="label-content">Email address</span>
      </label>

      <input class="form-control ng-pristine  ng-touched"
             type="email" placeholder="Enter email" formControlName="uid">


      <label >
        <span class="label-content">Password</span>
      </label>
      <input class="form-control ng-pristine  ng-touched"
             type="password" placeholder="Enter password" formControlName="pass">
    </div>
         <button type="submit" class="btn btn-block btn-primary"> Sign In </button>

  </form>
  </ng-container>

</div>

