<!--<pre>{{ orderEntries$ | async | json }}</pre>-->
<br />
<button (click)="randomEntries()" >addEntries</button>
<br />
<button (click)="login()" >Login</button>
<br />
<button (click)="logout()" >Logout</button>
<br />

<div>
  <form  [formGroup]="loginForme"  (ngSubmit)="loginForm(loginForme.value)">
    <div>
      <label >
        uid
      </label>
      <input type="text" formControlName="uid">

      <label >
        password
      </label>
      <input type="password" formControlName="pass">

    </div>
        <button class="button" type="submit">Login</button>
  </form>


</div>

