




<div class="footer__top">
  <div class="container">
    <div class="row ">
      <div class="footer__left col-xs-12 col-sm-12 col-md-20">
        <div class="row">
          <div class="footer__nav--container footer__nav--logo col-xs-12 col-sm-4 col-lg-4">
            <div class="row">
              <div class="col-sm-12">
                <div class="yCmsComponent yComponentWrapper banner__component">
                  <a href="/src">
                    <img title="Medi-Market logo" alt="Medi-Market logo"
                         src="https://local.medi-market.be:9002/medias/logo-MM.svg?context=bWFzdGVyfGltYWdlc3w3OTQ5fGltYWdlL3N2Zyt4bWx8aW1hZ2VzL2hkYi9oMmUvODc5NjI4NDc0NzgwNi5zdmd8MTUwMzdlYWRlODM4NGQyNWEyYTE3NjhkZjE1MmIyMTM0NGZlMmY0ZmZlOWE0MWI3ODA0ZGNlYmM3MzMxMGU5Ng">

                    <span style="position: absolute;left: -10000px;">
                            Parapharmacie en ligne BE - Medi-Market</span>
                  </a>

                </div></div>
              <div class="col-sm-12">
                <div class="yCmsComponent yComponentWrapper">
                  <div class="content"><div class="logo<-slogan text-center"><span class="logo-slogan__word--small logo-slogan__word--color1">prix bas</span>
                    <span class="logo-slogan__word--small logo-slogan__word--color2">choix</span>
                    <span class="logo-slogan__word--small logo-slogan__word--color3">conseils</span></div></div></div></div>
            </div>
          </div>
          <div class="footer__nav--container col-xs-10 col-sm-4">
            <div class="footer__title">Medi-Market</div>
            <ul class="footer__nav--links">

              <li class="yCmsComponent footer__link">
                <div>
                  <a href="https://local.medi-market.be:9002/paiements" title="Paiements" target="_blank" rel="nofollow">
                    Paiements</a>
                </div>
              </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/conditions-generales" title="CGV" target="_blank" rel="nofollow">
                  CGV</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/suivre-un-colis" title="Suivre un colis" target="_blank" rel="nofollow">
                  Suivre un colis</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/contact" title="Contactez-nous" target="_blank">
                  Contactez-nous</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/retractation" title="Rétractation" target="_blank" rel="nofollow">
                  Rétractation</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/livraisons" title="Livraisons" target="_blank">
                  Livraisons</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/consultations" title="Consultations" target="_blank" rel="nofollow">
                  Consultations</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/aide" title="FAQs" target="_blank">
                  FAQs</a>
              </div>
            </li></ul>
          </div>
          <div class="footer__nav--container col-xs-10 col-sm-4">
            <div class="footer__title">Services</div>
            <ul class="footer__nav--links">

              <li class="yCmsComponent footer__link">
                <div>
                  <a href="/vie-privee" title="Charte de protection de données" rel="nofollow">
                    Charte de protection de données</a>
                </div>
              </li><li class="yCmsComponent footer__link">
              <div>
                <a href="http://blog.medi-market.be/fr/" title="Blog" target="_blank" rel="nofollow">
                  Blog</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/azbrand" title="Marques" target="_blank" rel="nofollow">
                  Marques</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/qui-sommes-nous" title="Présentation" target="_blank">
                  Présentation</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/fidelite" title="Fidélité EXTRA" target="_blank" rel="nofollow">
                  Fidélité EXTRA</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="http://medicare-market.be/fr/" title="Le groupe Medicare-Market" target="_blank" rel="nofollow">
                  Le groupe Medicare-Market</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/mentions-legales" title="Conditions d'utilisation du site" rel="nofollow">
                  Conditions d'utilisation du site</a>
              </div>
            </li><li class="yCmsComponent footer__link">
              <div>
                <a href="/cookies" title="Cookies" rel="nofollow">
                  Cookies</a>
              </div>
            </li></ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="footer__bottom container">
  <div class="row">
    <div class="col-sm-4 col-md-2 footer__bottom--security">
      <div class="yCmsComponent footer__bottom--security-item">
        <div>
          <div class="footer__title footer__title--small">Sécurité</div>
          <img title="Sécurité" alt="Sécurité" src="https://local.medi-market.be:9002/medias/secured.png?context=bWFzdGVyfGltYWdlc3wzODgwfGltYWdlL3BuZ3xpbWFnZXMvaDYxL2g3ZS84Nzk2Mjg0MTkwNzUwLnBuZ3w2MjFkZWJhNDNhMzY2ZDlhODBhODc4N2I4YTRmNDI0YTAyODc5ZDRiOWU3MzU4NzRhMGYxNDk5ZTY2NTU3NTZm">
        </div>


      </div></div>
    <div class="col-sm-4 col-md-2 col-delivery">
      <div class="">
        <div>
          <div class="footer__title footer__title--small">Paiement Sécurisé</div>
          <img title="Paiement Sécurisé" alt="Paiement Sécurisé" src="https://local.medi-market.be:9002/medias/ingenico-fr.gif?context=bWFzdGVyfGltYWdlc3wxOTg1fGltYWdlL2dpZnxpbWFnZXMvaDljL2g2OC84Nzk2Mjg0MTU3OTgyLmdpZnxiMDlmMDk1OGIxYTRiZWUwZDAyYjNkYTZhYzg0MTk3YTc0MzI0ZTY4OTE2M2FjNzA2YzczNzdmMjEyNmE2MDg2">
        </div>


      </div></div>
    <div class="col-sm-4 col-md-2 col-partners">
      <div class="">
        <div>
          <div class="footer__title footer__title--small">Livraison</div>
          <img title="Livraison" alt="Livraison" src="https://local.medi-market.be:9002/medias/ups.png?context=bWFzdGVyfGltYWdlc3wyNjE1fGltYWdlL3BuZ3xpbWFnZXMvaGNhL2hlMi84Nzk2MzI4MTMyNjM4LnBuZ3wyZmI2OGFkMDI0MjcwNWFiNDIxOTk4MWQxZjZiMTFkMzg5OGNkMTkwNTlhYTlmYzJmM2VmYzIzNTdhMDFjNTAy">
          <img title="Livraison" alt="Livraison" src="https://local.medi-market.be:9002/medias/dpd.png?context=bWFzdGVyfGltYWdlc3wyODgzfGltYWdlL3BuZ3xpbWFnZXMvaDNhL2g1My84Nzk2Mjg0MTI1MjE0LnBuZ3xjMWNmN2VkZDA3NTNhYjQ2MTg4M2I1ZjYwNjQ3OWY3YmM5MmM3MGZmMGEwN2U1MGIxYTRhMTZmZjRiODUxZjNi">
        </div>


      </div></div>
    <div class="col-sm-12 col-md-6 col-payment">
      <div class="footer__full-image">
        <div class="">
          <div>
            <div class="footer__title footer__title--small">Méthode de paiement</div>
            <img title="Master Card" alt="Master Card" src="https://local.medi-market.be:9002/medias/master-card-secure-code.png?context=bWFzdGVyfGltYWdlc3wyOTkxfGltYWdlL3BuZ3xpbWFnZXMvaDQ2L2g5ZC84Nzk2Mjg0MjU2Mjg2LnBuZ3wxY2U5ZmRhNjYxYzY5MDYyYTBiMGI0ZjRjMzI0Y2Q3Yzc1NzkyYzA0OGM2ZTc4NWY1NWUzMzZmYzE4ZTU0ZDE0">
            <img title="Paypal" alt="Paypal" src="https://local.medi-market.be:9002/medias/paypal.png?context=bWFzdGVyfGltYWdlc3wyNTg5fGltYWdlL3BuZ3xpbWFnZXMvaGU2L2g1Ny84Nzk2Mjg0Mjg5MDU0LnBuZ3wxN2ZiYmEwYjFmNmM0NjUzNzFhYTI0ZTViMTgyMzY1OTI1OWY3NjM4ZjdjODlkOGFhMjA1OTI2OTU4ZWQwOGIy">
            <img title="Visa" alt="Visa" src="https://local.medi-market.be:9002/medias/verified-by-visa.png?context=bWFzdGVyfGltYWdlc3wzMzgxfGltYWdlL3BuZ3xpbWFnZXMvaGFkL2g5Yy84Nzk2Mjg0MzIxODIyLnBuZ3w0MzNmYjY4NzE2ZGQwODk5MGU4YjAwYmZiYzk4NTA2NjFiYTRmMmMwZmU3YWM2Y2NhYTJmZGQwODU4YWQzYTk4">
            <img title="Ban contact" alt="Ban contact" src="https://local.medi-market.be:9002/medias/bancontact.png?context=bWFzdGVyfGltYWdlc3wzMzczfGltYWdlL3BuZ3xpbWFnZXMvaDdhL2gyNi84Nzk2Mjg0MzU0NTkwLnBuZ3w3OGJiZjkxMjVjMWI4NWEwMWFlOWIyOTE5MmFiMDQ0ZTMyMWJlMDg4MjFiMDczYzg5OWQwZDM1ODQ5ZmJjNTQ4">
            <img title="Safe key" alt="Safe key" src="https://local.medi-market.be:9002/medias/am-safekey.png?context=bWFzdGVyfGltYWdlc3wyNzAzfGltYWdlL3BuZ3xpbWFnZXMvaDAxL2hkMS84Nzk2Mjg0Mzg3MzU4LnBuZ3wyMzhhY2RjNTcxOTAyOGVkNTJkY2E1YmIzMGU2ODYwZjRiNDc4YmY3YTNhODZjNjk5OTM2Mjg2ZTU4MGJmNDVh">
            <img title="Maestro" alt="Maestro" src="https://local.medi-market.be:9002/medias/maestro.png?context=bWFzdGVyfGltYWdlc3wzMzc1fGltYWdlL3BuZ3xpbWFnZXMvaDAzL2g2OC84Nzk2Mjg0NDIwMTI2LnBuZ3xjNWNkM2Q4OTRkMGQ4YzUwZjA0Y2Q4OGZhMjAyMzA5YmFjNjM4ZjcwOTQyY2QxYWI0YmViNGE2NDYzYTEzMDMw">
            <img title="KBC online" alt="KBC online" src="https://local.medi-market.be:9002/medias/kbc-online.png?context=bWFzdGVyfGltYWdlc3wyNTg0fGltYWdlL3BuZ3xpbWFnZXMvaGExL2g1Mi84Nzk2Mjg0NDUyODk0LnBuZ3xjMGRkNmRjYTFhZmZmYWI5YWQ0YmQ3NDQxMzM1YWUxMDk5Mzc0YzE3YTlhZDkzZDk0YWIxMjUyMTEwOWRjMDk1">
            <img title="belfius" alt="belfius" src="https://local.medi-market.be:9002/medias/belfius.png?context=bWFzdGVyfGltYWdlc3wzNDU0fGltYWdlL3BuZ3xpbWFnZXMvaDNmL2gxNi84Nzk2Mjg0NTE4NDMwLnBuZ3xmOTZlNjU2OWIwNzkxMDc1ZmY0NWE2YmUzYTcyOTU0NGZkOTk4MThmMWQwYmFjY2M4ZjkxOTI1MjAwZDA4YTNl">
            <img title="Bank transfer" alt="Bank transfer" src="https://local.medi-market.be:9002/medias/banktransfer.png?context=bWFzdGVyfGltYWdlc3wyOTU5fGltYWdlL3BuZ3xpbWFnZXMvaGY3L2gxZC84Nzk2Mjg0NTUxMTk4LnBuZ3w1YzNiYTI3ZDRlNzcwMzBkMGFhYTkzZTA0OWU2MTA2NzdkMzQ1ZmJjNmU3ZTZjMmIyMmQxNWFjNTk4NDA2YzFj">
          </div>


        </div></div>
    </div>
  </div>
</div>

